name: java17-maven
on: 
  workflow_call: 


jobs:
  java17-maven:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
#      - name: Build with Maven
#        run: mvn --batch-mode --update-snapshots package
 
