name: main

on:
  workflow_dispatch:
  
jobs:
  inputs:
    uses: sark1/Actions/.github/workflows/pipelineconfig.yml@main
    
  compile: 
    if: ${{ (inputs.outputs.build_tool == 'maven')}}
    uses: sark1/Actions/.github/workflows/java1_8-maven.yml@main
   
  

  
        
 
